@charset "UTF-8";
:root {
  --rbc-out-of-range-color: #6b7280;
  --rbc-out-of-range-bg-color: #f5f5f5;
  --rbc-calendar-border: #e5e7eb;
  --rbc-cell-border: #e5e7eb;
  --rbc-cell-border-lighten: #f7f8f9;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #93c5fd;
  --rbc-event-bg-active: #dbeafe;
  --rbc-event-border: #60a5fa;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #1e3a8a;
  --rbc-calendar-bg: #fff;
  --rbc-btn-bg: #fff;
  --rbc-btn-bg-active: #eff4fb;
  --rbc-btn-border: #e2e8f0;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #1ab08e;
}

:root.dark {
  --rbc-out-of-range-color: #666e79;
  --rbc-out-of-range-bg-color: #3a4552;
  --rbc-calendar-border: #3d4d60;
  --rbc-cell-border: #1a222c;
  --rbc-cell-border-lighten: #1e2733;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #0c4a6e;
  --rbc-event-border: #0a3b58;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #bae6fd;
  --rbc-calendar-bg: #24303f;
  --rbc-btn-bg: #24303f;
  --rbc-btn-bg-active: #313d4a;
  --rbc-btn-border: #2e3a47;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #01a781;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: var(--rbc-out-of-range-color);
}

.rbc-off-range-bg {
  background: var(--rbc-out-of-range-bg-color);
}

.rbc-header {
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  min-height: 2rem;
  line-height: 2rem;
}
.rbc-header + .rbc-header {
  border-left: 1px solid var(--rbc-cell-border);
}
.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid var(--rbc-cell-border);
}
.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}
.rbc-header .rbc-button-link {
  width: 100%;
  text-align: center;
}

.rbc-button-link {
  color: inherit;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  width: 100%;
  text-align: right;
}
.rbc-button-link:hover {
  color: var(--rbc-event-color);
  font-weight: 600;
}

.rbc-current .rbc-button-link {
  background-color: #e11d48;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  line-height: 24px;
  text-align: center;
  margin-top: 2px;
}

.rbc-row-content {
  position: relative;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-row-content-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rbc-row-content-scrollable .rbc-row-content-scroll-container {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.rbc-row-content-scrollable
  .rbc-row-content-scroll-container::-webkit-scrollbar {
  display: none;
}

div.rbc-today span {
  position: relative;
}
div.rbc-today span::before {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  background-color: #e11d48;
}

.grid-cols-7:last-child div.group.col-span-1.shrink-0:last-child {
  border-bottom-right-radius: 1rem;
}

.rbc-agenda-empty {
  padding: 0.5rem 1rem;
  border: solid 1px var(--rbc-calendar-border);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rbc-month-view,
.rbc-time-view,
.rbc-agenda-view {
  min-width: 608px;
  background-color: var(--rbc-calendar-bg);
}

.rbc-time-header-content {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-row.rbc-time-header-cell {
  min-height: 80px;
}
.rbc-row.rbc-time-header-cell .rbc-header {
  border-bottom: 1px solid var(--rbc-cell-border);
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.rbc-time-content {
  border-top: 2px solid var(--rbc-cell-border);
}

:root {
  --rbc-out-of-range-color: #6b7280;
  --rbc-out-of-range-bg-color: #f5f5f5;
  --rbc-calendar-border: #e5e7eb;
  --rbc-cell-border: #e5e7eb;
  --rbc-cell-border-lighten: #f7f8f9;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #93c5fd;
  --rbc-event-bg-active: #dbeafe;
  --rbc-event-border: #60a5fa;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #1e3a8a;
  --rbc-calendar-bg: #fff;
  --rbc-btn-bg: #fff;
  --rbc-btn-bg-active: #eff4fb;
  --rbc-btn-border: #e2e8f0;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #1ab08e;
}

:root.dark {
  --rbc-out-of-range-color: #666e79;
  --rbc-out-of-range-bg-color: #3a4552;
  --rbc-calendar-border: #3d4d60;
  --rbc-cell-border: #1a222c;
  --rbc-cell-border-lighten: #1e2733;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #0c4a6e;
  --rbc-event-border: #0a3b58;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #bae6fd;
  --rbc-calendar-bg: #24303f;
  --rbc-btn-bg: #24303f;
  --rbc-btn-bg-active: #313d4a;
  --rbc-btn-border: #2e3a47;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #01a781;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}

.rbc-toolbar button {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: var(--rbc-btn-bg);
  background-image: none;
  border: 1px solid var(--rbc-btn-border);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  line-height: normal;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.rbc-toolbar button:active,
.rbc-toolbar button:focus,
.rbc-toolbar button:hover,
.rbc-toolbar button.rbc-active {
  background-image: none;
  background-color: var(--rbc-btn-bg-active);
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.rbc-btn-group button + button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .rbc-toolbar {
    flex-direction: column;
  }
}
:root {
  --rbc-out-of-range-color: #6b7280;
  --rbc-out-of-range-bg-color: #f5f5f5;
  --rbc-calendar-border: #e5e7eb;
  --rbc-cell-border: #e5e7eb;
  --rbc-cell-border-lighten: #f7f8f9;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #93c5fd;
  --rbc-event-bg-active: #dbeafe;
  --rbc-event-border: #60a5fa;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #1e3a8a;
  --rbc-calendar-bg: #fff;
  --rbc-btn-bg: #fff;
  --rbc-btn-bg-active: #eff4fb;
  --rbc-btn-border: #e2e8f0;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #1ab08e;
}

:root.dark {
  --rbc-out-of-range-color: #666e79;
  --rbc-out-of-range-bg-color: #3a4552;
  --rbc-calendar-border: #3d4d60;
  --rbc-cell-border: #1a222c;
  --rbc-cell-border-lighten: #1e2733;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #0c4a6e;
  --rbc-event-border: #0a3b58;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #bae6fd;
  --rbc-calendar-bg: #24303f;
  --rbc-btn-bg: #24303f;
  --rbc-btn-bg-active: #313d4a;
  --rbc-btn-border: #2e3a47;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #01a781;
}

.rbc-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 0.125rem 0.25rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-event .rbc-event-content {
  font-weight: 500;
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event.rbc-selected {
  background-color: var(--rbc-event-bg-active);
}

.rbc-event:focus {
  outline: 5px auto var(--rbc-event-outline);
}

.rbc-event-label {
  display: none;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:root {
  --rbc-out-of-range-color: #6b7280;
  --rbc-out-of-range-bg-color: #f5f5f5;
  --rbc-calendar-border: #e5e7eb;
  --rbc-cell-border: #e5e7eb;
  --rbc-cell-border-lighten: #f7f8f9;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #93c5fd;
  --rbc-event-bg-active: #dbeafe;
  --rbc-event-border: #60a5fa;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #1e3a8a;
  --rbc-calendar-bg: #fff;
  --rbc-btn-bg: #fff;
  --rbc-btn-bg-active: #eff4fb;
  --rbc-btn-border: #e2e8f0;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #1ab08e;
}

:root.dark {
  --rbc-out-of-range-color: #666e79;
  --rbc-out-of-range-bg-color: #3a4552;
  --rbc-calendar-border: #3d4d60;
  --rbc-cell-border: #1a222c;
  --rbc-cell-border-lighten: #1e2733;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #0c4a6e;
  --rbc-event-border: #0a3b58;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #bae6fd;
  --rbc-calendar-bg: #24303f;
  --rbc-btn-bg: #24303f;
  --rbc-btn-bg-active: #313d4a;
  --rbc-btn-border: #2e3a47;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #01a781;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-selected-cell {
  background-color: var(--rbc-date-selection-bg-color);
}

.rbc-show-more {
  z-index: 4;
  font-size: 85%;
  padding: 0.125rem;
  height: auto;
  line-height: normal;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.rbc-show-more:hover,
.rbc-show-more:focus {
  color: var(--rbc-event-color);
}

.rbc-month-view {
  position: relative;
  border: 1px solid var(--rbc-calendar-border);
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  background-color: var(--rbc-calendar-bg);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 8rem;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid var(--rbc-cell-border);
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0%;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid var(--rbc-cell-border);
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  max-width: 8rem;
  border: 1px solid var(--rbc-cell-border);
  background-color: var(--rbc-calendar-bg);
  box-shadow: 0.25rem 0.5rem 0.8rem rgba(0, 0, 0, 0.125);
  padding: 0;
  border-radius: 0.375rem;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid var(--rbc-cell-border);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

:root {
  --rbc-out-of-range-color: #6b7280;
  --rbc-out-of-range-bg-color: #f5f5f5;
  --rbc-calendar-border: #e5e7eb;
  --rbc-cell-border: #e5e7eb;
  --rbc-cell-border-lighten: #f7f8f9;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #93c5fd;
  --rbc-event-bg-active: #dbeafe;
  --rbc-event-border: #60a5fa;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #1e3a8a;
  --rbc-calendar-bg: #fff;
  --rbc-btn-bg: #fff;
  --rbc-btn-bg-active: #eff4fb;
  --rbc-btn-border: #e2e8f0;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #1ab08e;
}

:root.dark {
  --rbc-out-of-range-color: #666e79;
  --rbc-out-of-range-bg-color: #3a4552;
  --rbc-calendar-border: #3d4d60;
  --rbc-cell-border: #1a222c;
  --rbc-cell-border-lighten: #1e2733;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #0c4a6e;
  --rbc-event-border: #0a3b58;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #bae6fd;
  --rbc-calendar-bg: #24303f;
  --rbc-btn-bg: #24303f;
  --rbc-btn-bg-active: #313d4a;
  --rbc-btn-border: #2e3a47;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #01a781;
}

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  background-color: var(--rbc-calendar-bg);
}

.rbc-agenda-view > table.rbc-agenda-table {
  border-bottom: none !important;
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid var(--rbc-calendar-border);
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 10px;
  padding-right: 10px;
  text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid var(--rbc-cell-border);
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid var(--rbc-cell-border);
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 5px 10px;
  text-align: left;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
  width: 8rem;
}

.rbc-agenda-event-cell {
  width: 100%;
}

:root {
  --rbc-out-of-range-color: #6b7280;
  --rbc-out-of-range-bg-color: #f5f5f5;
  --rbc-calendar-border: #e5e7eb;
  --rbc-cell-border: #e5e7eb;
  --rbc-cell-border-lighten: #f7f8f9;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #93c5fd;
  --rbc-event-bg-active: #dbeafe;
  --rbc-event-border: #60a5fa;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #1e3a8a;
  --rbc-calendar-bg: #fff;
  --rbc-btn-bg: #fff;
  --rbc-btn-bg-active: #eff4fb;
  --rbc-btn-border: #e2e8f0;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #1ab08e;
}

:root.dark {
  --rbc-out-of-range-color: #666e79;
  --rbc-out-of-range-bg-color: #3a4552;
  --rbc-calendar-border: #3d4d60;
  --rbc-cell-border: #1a222c;
  --rbc-cell-border-lighten: #1e2733;
  --rbc-border-color: #e5e7eb;
  --rbc-time-selection-color: white;
  --rbc-time-selection-bg-color: rgba(0, 0, 0, 0.5);
  --rbc-date-selection-bg-color: rgba(0, 0, 0, 0.1);
  --rbc-event-bg: #0c4a6e;
  --rbc-event-border: #0a3b58;
  --rbc-event-outline: #3b99fc;
  --rbc-event-color: #bae6fd;
  --rbc-calendar-bg: #24303f;
  --rbc-btn-bg: #24303f;
  --rbc-btn-bg-active: #313d4a;
  --rbc-btn-border: #2e3a47;
  --rbc-btn-border-active: #e2e8f0;
  --rbc-current-time-color: #01a781;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid var(--rbc-cell-border);
  min-height: 3rem;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-day-slot .rbc-background-event {
  opacity: 0.75;
}

.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  word-wrap: break-word;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid var(--rbc-cell-border-lighten);
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid var(--rbc-cell-border);
  z-index: 10;
  margin-right: -1px;
}

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: var(--rbc-time-selection-bg-color);
  color: var(--rbc-time-selection-color);
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid var(--rbc-calendar-border);
  min-height: 0;
  background-color: var(--rbc-calendar-bg);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: hidden;
}

.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  text-align: right;
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 1.875rem;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid var(--rbc-cell-border);
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid var(--rbc-cell-border);
}

.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid var(--rbc-cell-border);
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid var(--rbc-cell-border);
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid var(--rbc-cell-border);
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid var(--rbc-calendar-border);
  overflow-y: auto;
  position: relative;
}

.rbc-time-content > .rbc-time-gutter {
  flex: none;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid var(--rbc-cell-border);
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid var(--rbc-cell-border);
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--rbc-current-time-color);
  pointer-events: none;
} /*# sourceMappingURL=styles.css.map */
